<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/teams.css" media="screen">
    <link href="../media/fonts/Valorant/stylesheet.css" rel="stylesheet">
    <title>Edit Teams</title>
</head>

<body>
    <% teams.forEach(team=> { %>
        <form action="/editteams" method="POST">
            <input type="hidden" name="id" value="<%= team.id %>">
            <label for="nombreteam" style="color: white;">
                <%= team.nombreteam %>:
            </label>
            <input type="text" id="nombreteam" name="nombreteam" value="<%= team.nombreteam %>">
            <button type="submit">Save Changes</button>
        </form>
        <% }) %>
</body>

</html>