<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Registration</title>
    <link rel="stylesheet" type="text/css" href="../css/form.css" media="screen">
    <link href="../media/fonts/Valorant/stylesheet.css" rel="stylesheet">
    <script src="../js/form.js"></script>
</head>

<body>
    <div class="navbar">
        <div class="bloque"><a href="/index">
                <p>Home</p>
            </a></div>
        <div class="bloque"><a href="/teams">
                <p>Teams</p>
            </a></div>
        <div class="bloque"><a href="/schedules">
                <p>Schedule</p>
            </a></div>
    </div>
    <h1 style="font-size: 3em;">
        <center>Team Registration</center>
    </h1><br>
    <form method="post" action="/form" id="form">
        <center>
            <table>
                <tr>
                    <td colspan="2">
                        <center>
                            <label for="team_name_label">Team name: </label>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <center>
                            <input type="text" id="team_name" name="team_name">
                        </center>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label for="player1_name" style="display: block;">First player (leader): </label>
                            <input type="text" id="player1_name" name="player1_name">
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for="player1_rank" style="display: block;">Rank: </label>
                            <select id="rank-select" name="player1_rank" class="rank-select">
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label for="player2_name" style="display: block;">Second player: </label>
                            <input type="text" id="player2_name" name="player2_name">
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for="player2_rank" style="display: block;">Rank: </label>
                            <select id="rank-select" name="player2_rank" class="rank-select">
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label for="player3_name" style="display: block;">Third player: </label>
                            <input type="text" id="player3_name" name="player3_name">
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for="player3_rank" style="display: block;">Rank: </label>
                            <select id="rank-select" name="player3_rank" class="rank-select">
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label for="player4_name" style="display: block;">Fourth player: </label>
                            <input type="text" id="player4_name" name="player4_name">
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for="player4_rank" style="display: block;">Rank: </label>
                            <select id="rank-select" name="player4_rank" class="rank-select">
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label for="player5_name" style="display: block;">Fifth player: </label>
                            <input type="text" id="player5_name" name="player5_name">
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for="player5_rank" style="display: block;">Rank: </label>
                            <select id="rank-select" name="player5_rank" class="rank-select">
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label for="player6_name" style="display: block;">Sixth player: </label>
                            <input type="text" id="player6_name" name="player6_name">
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for="player6_rank" style="display: block;">Rank: </label>
                            <select id="rank-select" name="player6_rank" class="rank-select">
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label for="player7_name" style="display: block;">Seventh player: </label>
                            <input type="text" id="player7_name" name="player7_name">
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for="player7_rank" style="display: block;">Rank: </label>
                            <select id="rank-select" name="player7_rank" class="rank-select">
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <center>
                            <label for="region_label">Region: </label>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <center>
                            <select id="region" name="region">
                                <option value="Asia - Pacific">Asia - Pacific</option>
                                <option value="North America">North America</option>
                                <option value="Latin America">Latin America</option>
                                <option value="Europe">Europe</option>
                                <option value="Korea">Korea</option>
                                <option value="Brazil">Brazil</option>
                            </select>
                        </center>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Register">
        </center>
    </form>


</body>

</html>