<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/teams.css" media="screen">
    <link href="../media/fonts/Valorant/stylesheet.css" rel="stylesheet">
    <title>Schedule</title>
</head>

<body>
    <div class="navbar">
        <div class="bloque"><a href="/index">
                <p>Home</p>
            </a></div>
        <div class="bloque"><a href="/inscription">
                <p>Register</p>
            </a></div>
        <div class="bloque"><a href="/teams">
                <p>Teams</p>
            </a></div>
    </div>
    <br>
    <center>
        <% matches.forEach(match=> { %>
            <p id="text" style="text-align: center;">
                <%= match.team1 %> vs <%= match.team2 %> - Division: <%= match.division %> - Region: <%= match.region %>
            </p>
            <% }) %>
    </center>
</body>

</html>