<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/form.css" media="screen">
    <link href="../media/fonts/Valorant/stylesheet.css" rel="stylesheet">
    <title>Schedule</title>
</head>

<body>
    <div class="navbar">
        <div class="bloque"><a href="/index">
                <p>Home</p>
            </a></div>
        <div class="bloque"><a href="/inscription">
                <p>Register</p>
            </a></div>
        <div class="bloque"><a href="/teams">
                <p>Teams</p>
            </a></div>
    </div>
    <br>
    <p> La idea de esta pagina es agendar los distintos enfrentamientos entre los equipos
        Y finalmente hacer la visualizacion de ellos mediante 'tournament brackets'
        para ello necesito poder guardar los nombres de los equipos registrados y poder usarlos en esta pagina,
        necesitaria una base de datos</p>


    <br>
    <p> Suavecitos vs KRU: Noviembre 25 de 2023</p>
</body>

</html>